@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255 239 211);
  scroll-behavior: smooth;
}

@layer components {
  .custom-swiper-slide {
    max-width: 244px !important;
    height: 401px !important;
    max-height: 477px !important;
    width: 100% !important;
    margin-right: 20px !important;
    opacity: 1 !important;

    @screen xsm {
      width: 244px !important;
      max-width: 380px !important;
      height: 479px !important;
      max-height: 700px !important;
    }

    @screen sm {
      width: 264px !important;
      max-width: 322px !important;
      height: 510px !important;
      max-height: 606px !important;
    }

    @screen md {
      width: 207px !important;
      max-width: 285px !important;
      height: 417px !important;
      max-height: 545px !important;
    }

    @screen lg {
      width: 370px !important;
      max-width: 442px !important;
      height: 682px !important;
      max-height: 802px !important;
    }

    @screen xl {
      width: 354px !important;
      max-width: 354px !important;
      max-height: 664px !important;
    }

    @screen 2xl {
      max-width: 348px !important;
      max-height: 646px !important;
    }

    @screen 3xl {
      max-width: 374px !important;
      max-height: 690px !important;
    }
  }
}

@layer components {
  .custom-testimonial-slide {
    /* height: 372px !important; */
    max-height: 380px !important;
    /* width: 274px !important; */
    max-width: 274px !important;
    /* margin-right: 20px !important; */
    opacity: 1 !important;

    @screen sm {
      max-height: 420px !important;
      /* margin: 0 auto !important; */
      max-width: 320px !important;
    }

    @screen xl {
      max-height: 430px !important;
      max-width: 320px !important;
    }
    @screen 3xl {
      max-height: 430px !important;
      max-width: 295px !important;
    }
  }
}

.button-animation {
  @apply transition-all duration-300 ease-in-out hover:translate-x-1 hover:translate-y-[-3px];
}

.icon-animation {
  @apply transition-all duration-200 ease-in-out hover:translate-x-0 hover:translate-y-[-5px];
}

.nav-links {
  @apply text-[26px] lg:text-base xl:text-lg text-tertiary lg:text-secondary font-CooperExtrabold hover:scale-105 transition-all ease-in-out duration-300;
}

.underline-animation {
  @apply relative inline-block;
}

.underline-animation::after {
  @apply dark:bg-white border-secondary  content-[''] rounded-full scale-x-0 absolute w-full bottom-[-2px] border-[1.6px] duration-300 left-0 origin-left transition-all ease-in-out;
}

.underline-animation:hover::after {
  @apply scale-x-100;
}


.footer-links {
  @apply text-base font-HelveticaNue !leading-[24px] text-secondary opacity-100;
}

.custom-next-button.swiper-button-disabled,
.custom-prev-button.swiper-button-disabled {
  @apply opacity-40;
}

.custom-testimonial-wrapper{
  @apply !flex !gap-5 !h-[460px]
}

.swiper-pagination-bullets.swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet{
  @apply !w-[14px] !h-[14px];
}

.swiper-pagination-bullet-active {
  @apply !bg-custom-gradient;
}

@font-face {
  font-family: "Helvetica Nue";
  src: url("/fonts/HelveticaNeueMedium.otf");
  font-weight: 400;
}

@font-face {
  font-family: "CooperNormal";
  src: url("/fonts/Cooper-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "CooperMedium";
  src: url("/fonts/Cooper-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "CooperSemiBold";
  src: url("/fonts/Cooper-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "CooperBold";
  src: url("/fonts/Cooper-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "CooperExtraBold";
  src: url("/fonts/Cooper-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "CooperBlack";
  src: url("/fonts/Cooper-Black.woff2");
  font-weight: 900;
}
